p {
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    color: rgba(247, 244, 78, 0.959);
    background-color: rgb(250, 186, 197);
    text-align: center;
    font-size: 50px;
    margin: 0;
}
h2 {
    width: 100%;
    margin: 0;
    background-color: aqua;
}
h3 {
    margin: 0;
    background-color: rgb(15, 15, 163);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.87);
}