html {
    background-color: #40389a;
}
h1 {
    margin: 0;
    background-image: url(images/background.png); 
    background-size: 75%;
}
h3 {
    margin: 0;
    background-color: rgb(7, 145, 7);
}
  .expandable {
      background: gray;
      overflow: hidden; 
      line-height: 90%;
      font-size: 145%;
      text-align: center;
      transition: all .5s ease-in-out;
      height: 0;
     }
   
     .expandable:target {
        height: 300px;
    }
h2 {
    margin: 0;
    background-size: 80%;
}