html {
    background-color: rgb(247, 166, 60);
}
body {
    margin: 0;
}
h3 {
    background-color: rgb(248, 153, 29);
    margin: 0;
}
h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(245, 143, 30);
    margin: 0;
}
text {
    color: rgba(255, 255, 255, 0.863);
}
h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 15px;
}
h4 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    color: rgba(255, 255, 255, 0.856);
}
strong {
    color: white;
    font-size: 30px;
}
